# Data and temporary notebooks
*.npy
.ipynb_checkpoints
plots
data
ipython
mathematica
build
chains
.coverage

# Cython output
*.pyc
*.so
*.o
*.c

# Trailing files
*~
*.log
*.nfs*
*.swp*
*.out
*.core
*.swo
*.amuse*
